In [1]:
# List of high schools
high_schools = ["Hernandez High School","Figueroa High School","Wilson High School","Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [2]:
# A dictionary of high schools and type of school
high_school_type = [{"High School":"Griffin","Type":"District"},{"High School":"Figueroa","Type":"District"},{"High School":"Wilson","Type":"Charter"},{"High School":"Wright","Type":"Charter"}]
for school_type in high_school_type:
    print(school_type)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [3]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
for school in high_schools:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [4]:
# add the Pandas dependency
import pandas as pd

In [5]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [6]:
# A dictionary of high schools
high_school_dicts = [{"School Id": 0, "school name": "Huang High School", "type": "District"},{"School Id": 1, "school name": "Figueroa High School", "type": "District"},{"School Id": 2, "school name": "Shelton High School", "type": "Charter"}, {"School Id": 3, "school name": "Hernandez High School", "type": "District"}, {"School Id": 4, "school name": "Griffin High School", "type": "Charter"}]

In [7]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School Id            school name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [8]:
# Three separate lists of unformation on high schools
school_id = [0,1,2,3,4]

school_name = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin School"]

type_of_school = ["District","District","Charter","District","Charter"]

In [10]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [12]:
schools_df["School ID"]= school_id
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [14]:
schools_df["School ID"]= 
schools_df

ValueError: Length of values (1) does not match length of index (5)